<% provide(:title, "Withdraw Money") %>
<% provide(:button_text, 'Withdraw') %>
<% provide(:route, '/withdrawMoney') %>
<h1 class="display-4 text-center my-3">New Withdraw</h1>
<%=render 'deposits/form'%>
