<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user %> my name is Seth!</h1>
    <p>
      Thank you for showing interest in me! This is my email where you can reach me for any questions or concerns. Reach out I would love to talk!
    </p>
    <p>
      To sign into the site follow this link: <%= @url %>.
    </p>
    <p>I hope to hear from you soon!</p>
  </body>
</html>
