<% provide(:title, 'Deposits') %>
<% provide(:url, 'index')%>
<h1 class="display-4 text-center">Deposit History</h1>

<%= render 'withdraws/deposit_or_withdraw_table', withdrawsOrDeposits: @deposits%>


<div class="container">
  <%= render 'deposits/radio_form'%>
</div>
