<% provide(:title, "Deposit Money") %>
<% provide(:button_text, 'Deposit') %>
<% provide(:route, '/depositMoney') %>
<h1 class="display-4 text-center my-3">New Deposit</h1>
<%=render 'deposits/form'%>
